
.main_title{
text-align: center;
background-color: rgb(122, 78, 164);
color: antiquewhite;
padding: 15px;
letter-spacing: 2px;
font-weight: 500;
}







/* Media query for iPhone 12 Pro */
@media only screen and (max-width: 844px) and (orientation: portrait) {
    .hint-div {
      margin-bottom: 5px; /* margin bottom for responsiveness */
    }
  }